*{font-family: 'Cabin Condensed', sans-serif;}.md-form label{cursor:pointer !important}
				.stats {
		  margin-bottom: 2rem;
		}
		.stats h2 {
		  margin-top: 0;
		  color: #393e46;
		  font-size: 1.24rem;
		}
		.stat {
		  display: inline-block;
		   margin-right: 1rem; 
		  margin-bottom: 1rem;
		}
		@media (min-width: 640px) {
		  .stat {
			/* margin-right: 4rem; */
			 margin-bottom: 1.5rem;
		  }
		}
		.stat h4 {
		  margin-bottom: 0.1rem;
		  margin-top: 0;
		  color: #393e46;
		  text-transform: uppercase;
		  font-weight: 400;
		  font-size: 0.8rem;
		}
		@media (min-width: 640px) {
		  .stat h4 {
			font-size: 0.7rem;
		  }
		}
		.stat p {
		  line-height: 1;
		  font-weight: 800;
		  color: #393e46;
		  margin: 0;
		  font-size: 1rem;
		}
		@media (min-width: 640px) {
		  .stat p {
			font-size: 	1rem;
		  }
		}

		
.Row
{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.Column
{
    display: table-cell;
}

