*{font-family: 'Cabin Condensed', sans-serif;}.md-form label{cursor:pointer !important}
				.stats {
		  margin-bottom: 2rem;
		}
		.stats h2 {
		  margin-top: 0;
		  color: #393e46;
		  font-size: 1.24rem;
		}
		.stat {
		  display: inline-block;
		   margin-right: 1rem; 
		  margin-bottom: 1rem;
		}
		@media (min-width: 640px) {
		  .stat {
			/* margin-right: 4rem; */
			 margin-bottom: 1.5rem;
		  }
		}
		.stat h4 {
		  margin-bottom: 0.1rem;
		  margin-top: 0;
		  color: #393e46;
		  text-transform: uppercase;
		  font-weight: 400;
		  font-size: 0.8rem;
		}
		@media (min-width: 640px) {
		  .stat h4 {
			font-size: 0.7rem;
		  }
		}
		.stat p {
		  line-height: 1;
		  /* font-weight: 800; */
		  color: #393e46;
		  margin: 0;
		  font-size: 1rem;
		}
		

		
.Row
{
    display: table;
    width: 100%;
    table-layout: fixed;
}
.Column
{
    display: table-cell;
	text-align: center;
}
.btn-circle.btn-lg {
  width: 44px;
  height: 44px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
@media (max-width: 640px) {
		 .btn-circle.btn-lg {
			  width: 18px;
			  height: 18px;
			  padding: 5px 8px;
			  font-size: 12px;
			  line-height: 0.67;
			  border-radius: 25px;
			}
		}

/*tipped element. should be inline-block or block*/
.qtip {
  /* display: inline-block; */
  position: relative;
  cursor: pointer;
  /* color: #3bb4e5; */
  /* border-bottom: 0.05em dotted #3bb4e5; */
  box-sizing: border-box;
  font-style: normal;
  transition:all .25s ease-in-out
}
/* .qtip:hover {color:#069;border-bottom:0.05em dotted #069} */
/*the tip*/
.qtip:before {
  content: attr(data-tip);
  font-size: 14px;
  position: absolute;
  background: rgba(10, 20, 30, 0.85);
  color: #fff;
  line-height: 1.2em;
  padding: 0.5em;
  font-style: normal;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  min-width: 120px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 600
}
.qtip:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out
}
.qtip:hover:before,
.qtip:hover:after {
  visibility: visible;
  opacity: 1
}
/*top*/
.qtip.tip-top:before {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-100% - 8px));
          transform: translate(-50%, calc(-100% - 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.qtip.tip-top:after {
  border-width: 8px 8px 0 8px;
  border-color: rgba(10, 20, 30, 0.85) transparent transparent transparent;
  top: -8px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/*Live*/
.pulse {
  
  display: block;

  box-shadow: 0 0 0 rgba(231,74,59, 0.4);
  animation: pulse 2s infinite;
}
/* .pulse:hover { */
  /* animation: none; */
/* } */

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(231,74,59, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(231,74,59, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(231,74,59, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(231,74,59, 0.4);
    box-shadow: 0 0 0 0 rgba(231,74,59, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(231,74,59, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(231,74,59, 0);
      box-shadow: 0 0 0 0 rgba(231,74,59, 0);
  }
}


.live-dot {
    height: .5rem;
    position: relative;
    width: .5rem;
    
    border-radius: 100%;
    
    background-color: royalBlue;
	
	/* margin-right: 30px; */
}
    
    .live-dot::after {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        
        border-radius: 100%;
        
        background-color: inherit;
        
        -webkit-animation: 4s ease-out signal infinite;
        
                animation: 4s ease-out signal infinite;
        opacity: .5;
    }

@-webkit-keyframes signal {
    20%, 100% {
        opacity: 0;
        -webkit-transform: scale(5);
                transform: scale(5);
    }
}

@keyframes signal {
    20%, 100% {
        opacity: 0;
        -webkit-transform: scale(5);
                transform: scale(5);
    }
}

.blinkGreen {
   background: white;
        -webkit-animation-name: animationFramesGreen;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: 3;
      -webkit-animation-timing-function: linear;
      -webkit-animation-delay: 0s;
}
.blinkRed {
   background: white;
        -webkit-animation-name: animationFramesRed;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: 3;
      -webkit-animation-timing-function: linear;
      -webkit-animation-delay: 0s;
}        
@keyframes animationFramesGreen{
  50% {
   background-color: #1cc88a;
  }
}
@keyframes animationFramesRed{
  50% {
   background-color: #e74a3b;
  }
}


.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}


.skill-level {
  height: 1em;
  margin: 10px 0px;
  min-width: 400px;
}
.skill-level span {
  background: linear-gradient(#093,#3f9,#093);
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,0.7);
  width: 30px;
  height: 8px;
  display: inline-block;
  margin: 0 1px;
}
.show-0 span:nth-child(n+1) {
  background: white;
}
.show-1 span:nth-child(n+2) {
  background: white;
}
.show-2 span:nth-child(n+3) {
  background: white;
}
.show-3 span:nth-child(n+4) {
  background: white;
}
.show-4 span:nth-child(n+5) {
  background: white;
}
.show-5 span:nth-child(n+6) {
  background: white;
}
.show-6 span:nth-child(n+7) {
  background: white;
}
.show-7 span:nth-child(n+8) {
  background: white;
}
.show-8 span:nth-child(n+9) {
  background: white;
}
.show-9 span:nth-child(n+10) {
  background: white;
}
.show-10 span:nth-child(n+11) {
  background: white;
}
